:root {
	--color1: aquamarine;
	--color2: beige;
	--colorBtn3: #198754;
	--colorBtn4: #157347;
	--colorBtn5: #146c43;
	--colorBtn6: #13653f;
	--colorBoxSHad: rgba(60, 153, 110, 0.5);
	--font1: "Courier New", Courier, monospace;
	--font2: "Courier New", Courier, monospace;
	box-sizing: border-box;
}

body {
	box-sizing: border-box;
	background: aquamarine;
	font-family: "Courier New", Courier, monospace;
	padding: 10vw 10vw 0 10vw;
}

.max-w {
	max-width: 500px;
}

.w-100 {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.new-tasks {
	box-sizing: border-box;

	/* width: 70vw; */
	text-align: left;
	font-family: var(--font2);
}

.input,
.select {
	box-sizing: border-box;
	width: 100%;
	font-family: var(--font1);
}

input[type="submit"] {
	appearance: auto;
	user-select: none;
	white-space-collapse: preserve;
	text-wrap: nowrap;
	align-items: flex-start;
	text-align: center;
	cursor: default;
	box-sizing: border-box;
	/* background-color: buttonface;
    color: buttontext; */
	padding-block: 1px;
	padding-inline: 6px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonborder;
	border-image: initial;
}

input[type="submit" i] {
	appearance: auto;
	user-select: none;
	white-space-collapse: preserve;
	text-wrap: nowrap;
	align-items: flex-start;
	text-align: center;
	cursor: default;
	box-sizing: border-box;
	/* background-color: buttonface;
    color: buttontext; */
	padding-block: 1px;
	padding-inline: 6px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonborder;
	border-image: initial;
}

.btn-success {
	color: #fff;
	background-color: var(--colorBtn3);
	border-color: var(--colorBtn4);
	border-radius: 0.25rem;
}
.btn-success:hover {
	color: #fff;
	background-color: var(--colorBtn4);
	border-color: var(--colorBtn5);
}
.btn-check:focus + .btn-success,
.btn-success:focus {
	color: #fff;
	background-color: var(--colorBtn4);
	border-color: var(--colorBtn5);
	box-shadow: 0 0 0 0.25rem var(--colorBoxSHad);
}
.btn-check:active + .btn-success,
.btn-check:checked + .btn-success,
.btn-success.active,
.btn-success:active,
.show > .btn-success.dropdown-toggle {
	color: #fff;
	background-color: var(--colorBtn5);
	border-color: var(--colorBtn6);
}
.btn-check:active + .btn-success:focus,
.btn-check:checked + .btn-success:focus,
.btn-success.active:focus,
.btn-success:active:focus,
.show > .btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem var(--colorBoxSHad);
}
.btn-success.disabled,
.btn-success:disabled {
	color: #fff;
	background-color: var(--colorBtn3);
	border-color: var(--colorBtn3);
}
.center {
	text-align: center;
}

.no-bottom {
	margin-bottom: 0;
	padding-bottom: 0;
}

.striked {
	text-decoration: line-through;
}

ul {
	box-sizing: border-box;
	list-style: none;
	/* padding-inline-start: 0; */
	padding: 0;
	position: relative;
	zoom: 1;
}

.padd {
	padding: 0.25rem 1rem 1rem 1rem;
}

.list-title {
	/* width: 80vw; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	/* margin: 1rem 0 1rem 0; */
}

.list {
	position: relative;
	box-sizing: border-box;
	/* margin: 1rem 1rem 3rem 1rem; */
	/* padding: 0 0.5rem; */
}

.list-item {
	/* background-color: #fff; */
	border: 1px solid rgba(0, 0, 0, 0.125);
	padding: 0 0 0.125rem 0.125rem;
}
.list-item:first-of-type {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}
.list-item:first-of-type .accordion-button {
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
}
.list-item:not(:first-of-type) {
	border-top: 0;
}
.list-item:last-of-type {
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.list-item:last-of-type .accordion-button.collapsed {
	border-bottom-right-radius: calc(0.25rem - 1px);
	border-bottom-left-radius: calc(0.25rem - 1px);
}
.list-item:last-of-type .accordion-collapse {
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

footer {
	position: static;
	bottom: 0;
	left: 0;
}

.flex-column {
	display: flex;
	flex-direction: column;
	min-height: 55vh;
}
